:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #32425c;
  --basic-grey: #f1f5f7;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-beige: #f9f5f0;
  --basic-yellow: #ffd180;

  --extra-dark: #293449;
  --ultra-dark: #161d29;
  --light-green: #5fbb2d;
  --extra-grey: #a9a9a9;
  --light-grey: #c5c5c5;
  --extra-red: #ca2c37;
  --ultra-red: #ba2732;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --special-grey: #f7f3ec;

  --transparent-black: rgba(0, 0, 0, .1);
  --transparent-light-black: rgba(0, 0, 0, .0001);
  --transparent-white: rgba(255, 255, 255, .5);
  --transparent-light-white: rgba(255, 255, 255, .3);
  --transparent-extra-grey: rgba(169, 169, 169, .3);
  --transparent-light-grey: rgba(197, 197, 197, .3);

  --page-width: 940px;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  background-color: var(--basic-grey);
}

.main-navigation .short-links-wrapper {
  background-color: var(--extra-dark);
}

.main-navigation .short-links {
  max-width: var(--page-width);
  margin: 0 auto;
}

.main-navigation .main-links {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: var(--basic-white);
}

.main-navigation .logo {
  background-color: var(--basic-red);
}

.main-navigation .logo:active {
  background-color: var(--ultra-red);
}

.main-navigation .bookmarks:active,
.main-navigation .cart:active,
.main-navigation .checkout:active {
  background-color: var(--ultra-dark);
  color: var(--transparent-white);
}

.main-navigation .full-cart {
  background-color: var(--basic-red);
}

.main-navigation .checkout {
  background-color: var(--basic-green);
}

.main-navigation .checkout:hover,
.main-navigation .checkout:active {
  background-color: var(--light-green);
}

.main-navigation .description {
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.main-navigation .address {
  color: var(--basic-dark);
  font-size: 14px;
}

.main-navigation .phone {
  color: var(--basic-red);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.main-navigation .user-name {
  background-color: var(--transparent-light-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.user-navigation a {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--light-grey);
}

.site-navigation {
  background-color: var(--basic-dark);
  grid-column: 1 / -1;
}

.site-navigation a:hover {
  background-color: var(--extra-dark);
}

.site-navigation a:active {
  background-color: var(--ultra-dark);
}

.most-popular {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  max-width: var(--page-width);
  margin: 0 auto;
}

.most-popular ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.most-popular .slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.most-popular a {
  background-color: var(--transparent-light-white);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.most-popular a:hover {
  background-color: var(--transparent-light-grey);
}

.most-popular a:active {
  background-color: var(--transparent-extra-grey);
}

.most-popular .materials,
.most-popular .delivery {
  background-color: var(--special-yellow);
}

.most-popular .tool {
  background-color: var(--special-blue);
}

.most-popular .machinery {
  background-color: var(--special-purple);
}

.most-popular .discount {
  background-color: var(--special-green);
}

.slider {
  background-color: var(--transparent-black);
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
}

.slider a {
  background-color: var(--basic-red);
}

.slider a:hover {
  background-color: var(--extra-red);
}

.slider a:active {
  background-color: var(--ultra-red);
}

.popular-products,
.popular-brands {
  max-width: var(--page-width);
  margin: 0 auto 70px;
}

.popular-products h2,
.popular-brands h2 {
  background-color: var(--basic-beige);
  color: var(--basic-dark);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products ul,
.popular-brands ul {
  list-style: none;
}

.popular-products > a,
.popular-brands > a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-products > a:hover,
.popular-brands > a:hover {
  background-color: var(--extra-red);
}

.popular-products > a:active,
.popular-brands > a:active {
  background-color: var(--ultra-red);
}

.popular-brands ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-list a {
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.product-list del,
.product-list ins {
  color: var(--extra-grey);
  font-size: 17px;
  line-height: 18px;
}

.product-list ins {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-decoration: none;
}

.services-wrapper {
  background-color: var(--basic-grey);
}

.services {
  max-width: var(--page-width);
  margin: 0 auto;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services dl {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.services dd {
  grid-column: 5 / -1;
}

.services dt {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  grid-column: 1 / 5;
}

.services dt:hover {
  background-color: var(--extra-dark);
}

.services dt:active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.services .service-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services a:hover {
  background-color: var(--extra-red);
}

.services a:active {
  background-color: var(--ultra-red);
}

.about-us-and-contacts-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.about-us {
  grid-column: 1 / 9;
}

.contacts {
  grid-column: 9 / -1;
}

.about-us h2,
.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us a,
.contacts a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.about-us a:hover,
.contacts a:hover {
  background-color: var(--extra-red);
}

.about-us a:active,
.contacts a:active {
  background-color: var(--ultra-red);
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: inherit;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active {
  text-decoration: none;
  opacity: .5;
}

.catalog-navigation {
  color: var(--basic-yellow);
}

.copyright,
.copyright-links {
  font-size: 16px;
  line-height: 18px;
}

.copyright-links a {
  color: var(--basic-yellow);
}

.copyright-links a:hover {
  text-decoration: underline;
}

.copyright-links a:active {
  color: var(--basic-red);
  text-decoration: none;
  opacity: 1;
}

.footer-navigation-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
}

.copyright-links-wrapper {
  background-color: var(--extra-dark);
}

.copyright-links-wrapper div {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.catalog-wrapper h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.breadcrumbs {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.catalog-wrapper > p {
  background-color: var(--basic-grey);
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.products {
  grid-column: 4 / -1;
}

.products ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.products a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.products del {
  font-size: 17px;
  line-height: 18px;
  color: var(--extra-grey);
}

.products ins {
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.products .paging {
  list-style: none;
}

.paging a {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.paging a:not([href]) {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.category-description {
  background-color: var(--basic-grey);
}

.category-description div {
  max-width: var(--page-width);
  margin: 0 auto;
}

.category-description h2 {
  font-size: 30px;
  line-height: 30px;
}

.category-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  grid-row: 3 / -1;
  grid-column: 1 / 4;
}

.filters ul {
  list-style: none;
}

.filters legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters label {
  font-size: 15px;
  line-height: 19px;
}

.sorting {
  background-color: var(--special-grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 4 / -1;
}

.sorting ul {
  list-style: none;
}

.sorting label {
  text-decoration: underline dotted var(--basic-red);
  opacity: .3;
}

.sorting .current {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}