:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #32425c;
  --basic-grey: #f1f5f7;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-beige: #f9f5f0;
  --basic-yellow: #ffd180;

  --extra-dark: #293449;
  --medium-dark: #405069;
  --ultra-dark: #161d29;
  --light-green: #5fbb2d;
  --extra-grey: #a9a9a9;
  --medium-grey: #eaeaea;
  --light-grey: #c5c5c5;
  --extra-red: #ca2c37;
  --ultra-red: #ba2732;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-purple: #dc91d8;
  --special-green: #8ed78f;
  --special-grey: #f7f3ec;
  --special-dark: #212a3a;
  --special-red: #b52933;

  --transparent-black: rgba(0, 0, 0, .1);
  --transparent-light-black: rgba(0, 0, 0, .0001);
  --transparent-white: rgba(255, 255, 255, .5);
  --transparent-light-white: rgba(255, 255, 255, .3);
  --transparent-extra-grey: rgba(169, 169, 169, .3);
  --transparent-light-grey: rgba(197, 197, 197, .3);

  --page-width: 940px;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  background-color: var(--basic-grey);
  margin-bottom: 59px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a {
  color: var(--basic-white);
}

.short-links-wrapper {
  background-color: var(--extra-dark);
}

.short-links {
  max-width: var(--page-width);
  margin: 0 auto 46px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  background-color: var(--basic-red);
  width: 220px;
  max-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 0px var(--special-red);
}

.logo:active {
  background-color: var(--ultra-red);
}

.short-links form {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.short-links form::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/icons/search.svg") no-repeat center center;
  position: absolute;
  left: 15px;
  top: 12px;
}

.short-links input {
  background-color: var(--extra-dark);
  color: var(--basic-white);
  padding-left: 42px;
  border: none;
  flex-grow: 1;
}

.short-links input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.short-links input::placeholder {
  color: var(--basic-white);
}

.short-links input:focus::placeholder {
  color: var(--basic-black);
}

.short-links ul,
.short-links li {
  display: flex;
}

.short-links a:not(.logo) {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 150px;
  text-align: center;
  position: relative;
}

.short-links a:active:not(.logo) {
  background-color: var(--ultra-dark);
  color: var(--transparent-white);
}

.short-links .bookmarks,
.short-links .cart {
  padding-left: 15px;
  box-sizing: border-box;
}

.short-links .bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  background: url("../img/icons/bookmark.svg") no-repeat center center;
  position: absolute;
  top: 12px;
  left: 18px;
}

.short-links .cart::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icons/cart.svg") no-repeat center center;
  position: absolute;
  top: 12px;
  left: 22px;
}

.short-links .checkout {
  background-color: var(--basic-green);
}

.short-links .full-cart {
  background-color: var(--basic-red);
}

.short-links .checkout:hover,
.short-links .checkout:active:not(.logo) {
  background-color: var(--light-green);
}

.main-navigation .main-links {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.main-navigation .description {
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin: 0 0 0 30px;
}

.main-navigation .address {
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

.main-navigation .phone {
  color: var(--basic-red);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding: 4px 48px 5px 70px;
  border: 3px solid var(--basic-white);
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 270px;
  margin: 0 0 3px 9px;
}

.main-navigation .phone::before {
  content: "";
  width: 19px;
  height: 19px;
  background: url("../img/icons/phone.svg") no-repeat center center;
  position: absolute;
  top: 10px;
  left: 40px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-navigation a {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  display: block;
  padding: 12px 24px;
  margin-left: 10px;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--light-grey);
}

.user-navigation .login {
  position: relative;
  padding-left: 40px;
}

.user-navigation .login::before {
  content: "";
  width: 19px;
  height: 19px;
  background: url("../img/icons/login.svg") no-repeat center center;
  position: absolute;
  top: 13px;
  left: 13px;
}

.user-navigation .user-name {
  background-color: var(--transparent-light-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  flex-grow: 1;
}

.main-links .site-navigation {
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--extra-dark);
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.site-navigation a {
  display: block;
  padding: 16px 28px 20px;
}

.site-navigation a:hover {
  background-color: var(--extra-dark);
}

.site-navigation a:active {
  background-color: var(--ultra-dark);
}

.most-popular {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  max-width: var(--page-width);
  margin: 0 auto 59px;
}

.most-popular ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.most-popular li {
  padding: 20px 23px 21px;
}

.most-popular h3 {
  margin: 0 0 14px 0;
}

.most-popular a {
  background-color: var(--transparent-light-white);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0 9px;
  display: block;
  width: 135px;
}

.most-popular a:hover {
  background-color: var(--transparent-light-grey);
}

.most-popular a:active {
  background-color: var(--transparent-extra-grey);
}

.most-popular .materials {
  background:
    var(--special-yellow)
    url("../img/links/materials.svg") no-repeat 213px center;
}

.most-popular .tool {
  background:
    var(--special-blue)
    url("../img/links/tool.svg") no-repeat 194px center;
}

.most-popular .machinery {
  background:
    var(--special-purple)
    url("../img/links/machinery.svg") no-repeat 191px center;
}

.most-popular .discount {
  background:
    var(--special-green)
    url("../img/links/discount.svg") no-repeat 196px center;
}

.most-popular .delivery {
  background:
    var(--special-yellow)
    url("../img/links/delivery.svg") no-repeat 191px center;
}

.new {
  position: relative;
  overflow: hidden;
}

.new::before {
  content: "new";
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  position: absolute;
  top: 10px;
  right: -25px;
  transform: rotate(45deg);
}

.most-popular .slider {
  background-color: var(--transparent-black);
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  position: relative;
  padding: 23px 24px 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 5px 0;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider a {
  background-color: var(--basic-red);
  width: 192px;
  margin-top: auto;
}

.slider a:hover {
  background-color: var(--extra-red);
}

.slider a:active {
  background-color: var(--ultra-red);
}

.popular-products,
.popular-brands {
  max-width: var(--page-width);
  margin: 0 auto 70px;
}

.popular-products .header-wrapper,
.popular-brands .header-wrapper {
  background-color: var(--basic-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-bottom: 20px;
}

.popular-products h2,
.popular-brands h2 {
  color: var(--basic-dark);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 28px;
}

.header-wrapper a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0px 9px;
  width: 192px;
  margin-right: 14px;
}

.header-wrapper a:hover {
  background-color: var(--extra-red);
}

.header-wrapper a:active {
  background-color: var(--ultra-red);
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-list li {
  display: flex;
}

.product-list a {
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding: 8px 18px 21px;
  border: 1px solid var(--medium-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 7px;
}

.product-list del {
  color: var(--extra-grey);
  text-decoration-thickness: from-font;
  margin-bottom: 13px;
}

.product-list ins {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-decoration: none;
  padding: 10px 20px 10px 30px;
  position: relative;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.product-list ins::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 19px solid transparent;
  border-left: 20px solid var(--basic-red);
  border-bottom: 19px solid transparent;
}

.product-list .img-wrapper {
  order: -1;
  width: 184px;
  height: 164px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.brand-list a {
  border: 1px solid var(--medium-grey);
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-wrapper {
  background-color: var(--basic-grey);
}

.services {
  max-width: var(--page-width);
  margin: 0 auto;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 64px;
  margin: 0 0 25px 0;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 21px 0;
}

.services dl {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0;
  padding-top: 45px;
}

.services dd {
  background-color: var(--basic-grey);
  grid-column: 5 / -1;
  grid-row: 1 / -1;
  margin: 0;
  padding-left: 80px;
}

.delivery {
  background: url("../img/services/delivery.png") no-repeat top right;
}

.guarantee {
  background: url("../img/services/guarantee.png") no-repeat top right;
}

.credit {
  background: url("../img/services/credit.png") no-repeat top right;
}

.services dd.active {
  z-index: 1;
}

.services dt {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  grid-column: 1 / 5;
  padding: 14px 22px 17px;
  box-shadow:
    0px 1px 0px var(--extra-dark),
    inset 0px 1px 0px var(--medium-dark);
}

.services dt:hover {
  background-color: var(--extra-dark);
}

.services dt.active,
.services dt:active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  box-shadow: none;
}

.services .service-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.services a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 0;
  width: 195px;
  display: block;
  text-align: center;
  border-radius: 3px;
}

.services a:hover {
  background-color: var(--extra-red);
}

.services a:active {
  background-color: var(--ultra-red);
}

.about-us-and-contacts-wrapper {
  max-width: var(--page-width);
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.about-us {
  grid-column: 1 / 7;
}

.contacts {
  grid-column: 9 / -1;
  display: flex;
  flex-direction: column;
}

.about-us h2,
.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  padding-top: 70px;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 32px 0;
}

.about-us p:last-of-type {
  margin: 0;
}

.about-us ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.about-us li {
  margin-bottom: 12px;
  padding-left: 37px;
  position: relative;
}

.about-us li::before {
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
}

.about-us a,
.contacts a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0 9px;
  display: block;
}

.about-us a {
  width: 220px;
}

.contacts a {
  margin-top: auto;
}

.about-us a:hover,
.contacts a:hover {
  background-color: var(--extra-red);
}

.about-us a:active,
.contacts a:active {
  background-color: var(--ultra-red);
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer ul {
  list-style: none;
}

.footer-navigation-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-navigation-wrapper ul {
  display: flex;
}

.footer-navigation-wrapper ul:first-of-type {
  margin: 0 0 30px 0;
  padding: 35px 0 0;
}

.footer-navigation-wrapper ul:last-of-type {
  color: var(--basic-yellow);
  margin: 0 0 70px 0;
  padding: 5px 0 0;
}

.footer-navigation-wrapper li {
  margin-right: 58px;
}

.footer-navigation-wrapper li:last-of-type {
  margin-right: 0;
}

.footer-navigation-wrapper a {
  color: inherit;
}

.footer-navigation-wrapper a:hover {
  text-decoration: underline;
}

.footer-navigation-wrapper a:active {
  text-decoration: none;
  opacity: .5;
}

.footer-navigation-wrapper p {
  margin: 0;
}

.copyright-links-wrapper {
  background-color: var(--extra-dark);
}

.copyright-links-wrapper div {
  max-width: var(--page-width);
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.copyright {
  margin: 0 0 35px 0;
  padding: 35px 0 0;
}

.social-links {
  margin: auto;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 5px;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.social-links a {
  background-color: var(--special-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  background-color: var(--basic-red);
}

.copyright-links {
  margin: auto 0;
  padding: 0;
  display: flex;
}

.copyright-links li {
  margin-right: 50px;
}

.copyright-links li:last-of-type {
  margin-right: 0;
}

.copyright-links a {
  color: var(--basic-yellow);
}

.copyright-links a:hover {
  text-decoration: underline;
}

.copyright-links a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.catalog-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.catalog-wrapper h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.breadcrumbs {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
}

.catalog-wrapper > p {
  background-color: var(--basic-grey);
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.products {
  grid-column: 4 / -1;
}

.products ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.products a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.products del {
  font-size: 17px;
  line-height: 18px;
  color: var(--extra-grey);
}

.products ins {
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.products .paging {
  list-style: none;
  display: flex;
}

.paging a {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.paging a:not([href]) {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.category-description {
  background-color: var(--basic-grey);
}

.category-description div {
  max-width: var(--page-width);
  margin: 0 auto;
}

.category-description h2 {
  font-size: 30px;
  line-height: 30px;
}

.category-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  grid-row: 3 / -1;
  grid-column: 1 / 4;
}

.filters ul {
  list-style: none;
}

.filters legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters label {
  font-size: 15px;
  line-height: 19px;
}

.sorting {
  background-color: var(--special-grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 4 / -1;
}

.sorting form,
.sorting div,
.sorting ul {
  display: flex;
  justify-content: space-between;
}

.sorting ul {
  list-style: none;
}

.sorting label {
  text-decoration: underline dotted var(--basic-red);
  opacity: .3;
}

.sorting .current {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}